<app-navbar [status]="'logout'"></app-navbar>

<div class="wrapper">
  <h1>Authentication</h1>

  <div class="ui-g">
    <div class="ui-g-3">
      <i class="fab fa-gitlab"></i><br>
      GitLab<br>
      <span class="login">Log In</span>
    </div>
    <div class="ui-g-3">
      <i class="fab fa-bitbucket"></i><br>
      BitBucket<br>
      <span class="login">Log In</span>
    </div>
    <div class="ui-g-3">
      <i class="fab fa-jira"></i><br>
      Jira<br>
      <span class="login">Log In</span>
    </div>
    <div class="ui-g-3">
      <i class="fab fa-trello"></i><br>
      Trello<br>
      <span *ngIf="(sync_user === undefined || sync_user.hasOwnProperty('status')) || sync_user['trello_auth_token'] === ''" (click)="authTrelloModal()" class="login">Log In</span>
      <span *ngIf="(sync_user !== undefined && !sync_user.hasOwnProperty('status')) && sync_user['trello_auth_token'] !== ''" (click)="removeToken()" class="logout">Log Out</span>
    </div>
  </div>

  <h1>Synced Boards</h1>

  <div class="center-text">
    <span (click)="toggleModalDisplay()" class="new-button {{trello_boards !== null}}">New Synced Board</span>
  </div>

  <p-table [value]="boards">
    <ng-template pTemplate="header">
      <tr>
        <th>Type</th>
        <th>Glo Board</th>
        <th>Trello Board</th>
        <th>2-Way Sync</th>
        <th style="width: 210px">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-board>
      <tr>
        <td>{{board['sync-type']}}</td>
        <td>{{board['glo-board']}}</td>
        <td>{{board['trello-board']}}</td>
        <td>{{board['2-way']}}</td>
        <td>
          <span class="edit-button">Edit</span>
          <span class="delete-button" style="margin-left: 10px">Delete</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [modal]="true" [(visible)]="tokenModalDisplay">
  <p-header>
    Trello Token
  </p-header>
  <p>Please enter the authorization token provided by the Trello OAuth window.</p>
  <input type="text" pInputText [(ngModel)]="token"/>
  <p-footer>
    <button pButton class="new-button active" type="button" label="Submit Token" (click)="submitTrelloModal()">Submit Token</button>
  </p-footer>
</p-dialog>

<p-dialog [modal]="true" [(visible)]="addModalDisplay">
  <p-header>
    Sync Boards
  </p-header>
  Please select the boards you'd like to sync. A sync can only be initialized on empty Glo boards with no columns.
  <div *ngIf="emptyGloBoards !== undefined && emptyGloBoards.length !== 0" class="ui-g">
    <div class="ui-g-4">
      <span>Glo Board</span>
      <p-dropdown [options]="emptyGloBoards" optionLabel="name" appendTo="body" [(ngModel)]="selectedGloBoard"></p-dropdown>
    </div>
    <div class="ui-g-4">
      <span>Sync With</span>
      <p-dropdown [options]="syncTypes" appendTo="body" [(ngModel)]="selectedSyncType"></p-dropdown>
    </div>
    <div class="ui-g-4">
      <span>Synced Board</span>
      <p-dropdown [options]="syncBoards" optionLabel="name" appendTo="body" [(ngModel)]="selectedSyncBoard"></p-dropdown>
    </div>
  </div>
  <div *ngIf="emptyGloBoards !== undefined && emptyGloBoards.length === 0">
    <p class="no-boards">You have no empty Glo boards</p>
  </div>
  <p-footer>
    <button pButton class="new-button active" type="button" label="Sync Boards" (click)="submitAddModal()">Sync Boards</button>
  </p-footer>
</p-dialog>

